/* General */

html, body {
    height: 100%;
}

body {
    background-color:#336d83;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    /* background: white;  */
    border: 10px solid #000000;
    overflow: hidden; 
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align:center
}

.controls {
    background-color: #4c4a45;
    border: 2px solid #4c4a45;
}

